/* .hover-zoom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    
.hover-zoom:hover {
    transform: scale(1.03); Slightly zooms in (3% larger)
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
    z-index: 10;
} */